@page
@model MyPortfolio.Pages.PortfolioModel
@{
    ViewData["Title"] = "Portfolio";
}

<div class="page-hero">
    <h1>My Portfolio</h1>
    <p>Explore my projects and accomplishments in web development.</p>
</div>


<link rel="stylesheet" href="~/css/style.css" />


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Coming Soon Courses</title>
<link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@400;500;600;700&display=swap" rel="stylesheet">

<section class="section">
    <div class="section-inner">
        <div class="card-grid">

            <div class="portfolio-item">
                <div class="portfolio-thumb-wrapper">
                    <img src="~/images/avatars/cisco-cover.jpg" alt="Cisco" class="portfolio-img" />
                </div>
                <div class="portfolio-body">
                    <h3>មូលដ្ឋានគ្រឹះ Cisco Networking</h3>
                    <p>Cisco Networking គឺជាថ្នាក់ដែលអាចជួយសម្រួលអោយគេហទំព័រ និង Web Applications ឲ្យមានភាពទាក់ទាញ
                        និងមានភាពបត់បែនជាមួយ Mobile...</p>
                        <a href="/Courses/CiscoDetails" class="btn-active">Click here ! 🧭</a>
                    </div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-thumb-wrapper">
                        <img src="~/images/avatars/clu-cover.png" alt="System CLU" class="portfolio-img" />
                    </div>
                    <div class="portfolio-body">
                        <h3>System CLU</h3>
                        <p>ថ្នាក់នេះនឹងបង្រៀនអ្នកពីរបៀបបង្កើត Web Application ទំនើបៗ
                            និងរចនាសម្ព័ន្ធកូដឲ្យមានសុវត្ថិភាពដោយប្រើប្រាស់ C#...</p>
                            <a href="/Courses/CluDetails" class="btn-active">Click here ! 🧭</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>